<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the BookRepository bean -->
    <bean id="bookRepository" class="com.yourcompany.library.BookRepository"/>

    <!-- Define the BookService bean and inject the BookRepository bean -->
    <bean id="bookService" class="com.yourcompany.library.BookService">
        <property name="bookRepository" ref="bookRepository"/>
    </bean>

</beans>
